/* Start Generate button */
.button-generate {
  align-items: center;
  background-color: #0A66C2;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
}

.button-generate:hover,
.button-generate:focus { 
  background-color: #16437E;
  color: #ffffff;
}

.button-generate:active {
  background: #09223b;
  color: rgb(255, 255, 255, .7);
}

.button-generate:disabled { 
  cursor: not-allowed;
  background: rgba(0, 0, 0, .08);
  color: rgba(0, 0, 0, .3);
}
/* End Generate button */

/* Start general elements */
input {
    width: 300px;
    height: 30px;
}

hr {
    border: 3px solid blue;
    border-radius: 5px;
}

/* End general elements */

/* Start rows */
#green-row {
    background-color: rgb(59,155,88);
}
#blue-row {
    background-color: rgb(53,71,141);
}
#yellow-row {
    background-color: rgb(252,224,68);
}
#red-row {
    background-color: rgb(211,60,73);    
}
.row-background {
  border-radius: 5px;
  border-width: thin 2px;
}
#green-row-background {
  background-color: rgb(213, 235, 219);
  color: rgb(49,143,77);
}
#blue-row-background {
  background-color: rgb(174, 183, 216);
  color: rgb(53,71,141);
}
#yellow-row-background {
  background-color: rgb(253,251,243);
  color: rgb(252,224,69);
  border-color: rgb(216,153,120);
}
#red-row-background {
  background-color: rgb(252, 193, 198);    
  color: rgb(212,60,72);
  border-color: rgb(173,61,71);
}

.row {
  padding: 4px;
  margin: 0 0 2px 0;
  width: fit-content;
  display:flex;
  justify-content:center;
  align-items:center;
  font-size: 25px;
  border-radius: 5px;
}
/* End rows */
#gray-background {
  background-color: rgb(190, 190, 190);
  padding: 5px;
  width: fit-content;
}
.score-field {
    width: 35px;
    height: 26px;
/* Border zorgt er ook voor dat je niet meer een 'click' effect ziet */  
    border: 2px solid;
    border-radius: 4px;
    margin: 1px;
    background-color: white;  
}

#blue-score-field {
  border-color: blue;
}
#red-score-field {
  border-color: red;
}
#green-score-field {
  border-color: green;
}
#yellow-score-field {
  border-color: yellow;
}
#score-fields {
  background-color: #BCBCBC;
  width: fit-content;
  padding: 2px 8px 10px 10px;      
}