.button-generate {
  align-items: center;
  background-color: #0A66C2;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
}

.button-generate:hover,
.button-generate:focus { 
  background-color: #16437E;
  color: #ffffff;
}

.button-generate:active {
  background: #09223b;
  color: rgb(255, 255, 255, .7);
}

.button-generate:disabled { 
  cursor: not-allowed;
  background: rgba(0, 0, 0, .08);
  color: rgba(0, 0, 0, .3);
}

input {
    width: 300px;
    height: 30px;
}

hr {
    border: 3px solid blue;
    border-radius: 5px;
}
td {
    font-size: 25px;
    padding: 5px;
    width: 20px;
}
#green-row {
    background-color: rgb(59,155,88);
}
#blue-row {
    background-color: rgb(53,71,141);
}
#yellow-row{
    background-color: rgb(252,224,68);
}
#red-row{
    background-color: rgb(211,60,73)    
}